@charset "utf-8";
.agent-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  padding: 20px 24px;
  border-bottom: 1px solid #ddd;
  font-size: 30px;
}
.agent-item .labels {
  width: 180px;
  color: #202020;
}
.agent-item .flex {
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.agent-item .flex input[type=text],
.agent-item .flex input[type=password] {
  flex: 1;
  border: none;
}
.agent-item .flex .sub-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
}
.agent-item .flex .sub-flex input[type=radio] {
  margin-right: 10px;
}
.agent-item .flex.flex-center {
  justify-content: center;
  text-align: center;
}
.agent-item .flex.flex-center .sub-flex {
  justify-content: center;
}
.agent-item:last-child {
  border: none;
}
/*
* login.html
* 登录
*/
.quick-login {
  padding-top: 50px;
}
.quick-login .icon-qq {
  display: inline-block;
  width: 68px;
  height: 68px;
  background: url("../images/icon-qq.png") no-repeat left top;
}
.quick-login .icon-webchat {
  display: inline-block;
  width: 68px;
  height: 68px;
  background: url("../images/icon-webchat.png") no-repeat left top;
}
.quick-login .icon-webo {
  display: inline-block;
  width: 68px;
  height: 68px;
  background: url("../images/icon-webo.png") no-repeat left top;
}
/* 重置样式 */
* {
  -moz-box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: none;
  /* 禁用iPhone中Safari的字号自动调整 */
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 100% 'Microsoft Yahei', arial, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: inherit;
}
fieldset,
img {
  border: none;
}
iframe {
  display: block;
}
abbr,
acronym {
  border: none;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}
q:before,
q:after {
  content: '';
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ins,
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus,
*:focus {
  outline: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
}
.hide {
  display: none;
}
.block {
  display: block;
}
.fl,
.fr {
  display: inline;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.oh {
  overflow: hidden;
}
input,
input:focus,
input:active {
  user-select: text;
}
/* 设置HTML5元素为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* 设置图片视频等自适应调整 */
img {
  height: auto;
  width: auto9;
  /* ie8 */
  -ms-interpolation-mode: bicubic;
}
.video embed,
.video object,
.video iframe {
  width: 100%;
  height: auto;
}
/**
 +------------------------------------------------------------------------------
 * 网站样式重写
 +------------------------------------------------------------------------------
 * @comefrom  zhouwenyong
 * @subpackage  zhouwenyong
 +------------------------------------------------------------------------------
 */
body {
  color: #666;
  padding: 0px;
  margin: 0px;
  font-family: "Microsoft YaHei", "Microsoft YaHei Light", "SimSun";
  font-size: 14px;
}
a {
  outline: none;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: #333;
}
html {
  /*zoom:1;*/
  line-height: 24px;
}
html * {
  outline: 0;
  /*zoom:1;*/
}
html button::-moz-focus-inner {
  border-color: transparent!important;
}
body {
  overflow-x: hidden;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  /*border-collapse:collapse;border-spacing:0;*/
}
fieldset,
a img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
q:before,
q:after {
  content: '';
}
.tar {
  text-align: right;
}
.color_blue {
  color: #5d9cec;
}
.text-unline {
  text-decoration: underline;
}
.overflow {
  overflow: hidden;
}
input {
  font-family: "微软雅黑";
}
/**
 +------------------------------------------------------------------------------
 * Public Class
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: block;
}
.clear {
  clear: both;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
  overflow: hidden;
}
/* 清除浮动*/
.colwrapper {
  overflow: hidden;
  zoom: 1 /*for ie*/;
  margin: 5px auto;
}
/* 高度自适应 */
.strong {
  font-weight: bold;
}
.left {
  float: left;
}
.right {
  float: right;
  text-align: right;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.show {
  display: block;
  visibility: visible;
}
.hide {
  display: none;
  visibility: hidden;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.h100 {
  height: 100%;
}
.transparent {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  /** Firefox 3.5即将原生支持opacity属性，所以本条属性只在Firefox3以下版本有效 ***/
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.break {
  word-wrap: break-word;
  overflow: hidden;
  /*word-break:break-all;*/
}
.pt5 {
  padding-top: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pd10 {
  padding: 10px;
}
.pl20 {
  padding-left: 17px;
}
.pr20 {
  padding-right: 17px;
}
.pt20 {
  padding-top: 17px;
}
.pb20 {
  padding-bottom: 17px;
}
.mt10 {
  margin-top: 10px;
}
.ml10 {
  margin-left: 10px;
}
.pt8 {
  padding-top: 8px;
}
.lh28 {
  line-height: 28px;
}
.lh36 {
  line-height: 36px;
}
.lh32 {
  line-height: 32px;
}
.lh48 {
  line-height: 48px;
}
.bd_1 {
  border: 1px solid #eeeeee;
  height: 100%;
}
.pd1 {
  padding: 1px;
  background: #fff;
}
.pd5 {
  padding: 5px;
}
.pd20 {
  padding: 20px 17px;
}
.pt15 {
  padding-top: 15px;
}
.brbm {
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
}
.brtb {
  border-top: 1px solid #d7d7d7;
}
.brbd {
  border-bottom: 1px dotted #dcdcdc;
}
/*底部线条*/
.mt30 {
  margin-top: 30px;
}
.mt50 {
  margin-top: 50px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.txde {
  text-decoration: underline;
}
.ti2m {
  text-indent: 2em;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mg20 {
  margin: 20px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mr5 {
  margin-right: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mt36 {
  margin-top: 36px;
}
.mb36 {
  margin-bottom: 36px;
}
/**
 +------------------------------------------------------------------------------
 * FCK 兼容解决方案
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
em {
  font-style: italic !important;
}
strike {
  text-decoration: line-through !important;
}
strong {
  font-weight: bold !important;
}
u {
  text-decoration: underline !important;
}
.strike {
  text-decoration: line-through;
}
/**
 +------------------------------------------------------------------------------
 * 表单样式
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
/**
 +------------------------------------------------------------------------------
 * 网站整体颜色总汇
 +------------------------------------------------------------------------------
 * @codex  颜色:使用颜色的名称或者16进制代码,如
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.color-333 {
  color: #333;
}
.color-666 {
  color: #666;
}
.color-999 {
  color: #999;
}
.color-blue {
  color: #2b9df2;
}
a.color-red {
  color: #d70a30;
}
.color-red {
  color: #d70a30;
}
.color-white {
  color: #fff;
}
.color-green {
  color: #2a8800;
}
.color-org {
  color: #ff8201;
}
/**
 +------------------------------------------------------------------------------
 * 网站整字体大小
 +------------------------------------------------------------------------------
 * @codex   字体大小,直接使用"font+字体大小"作为名称,如
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.font12px {
  font-size: 12px;
}
.font14px {
  font-size: 14px;
}
.font15px {
  font-size: 15px;
}
.font16px {
  font-size: 16px;
}
.font18px {
  font-size: 18px;
}
.font24px {
  font-size: 24px;
}
.font26px {
  font-size: 26px;
}
.font28px {
  font-size: 28px;
}
.font20px {
  font-size: 20px;
}
.font32px {
  font-size: 32px;
}
.font9pt {
  font-size: 9pt;
}
.black {
  color: #000;
}
/**
 +------------------------------------------------------------------------------
 * 网站背景
 +------------------------------------------------------------------------------
 * @codex   字体大小,直接使用bk+颜色值"作为名称,如
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.bk-d4 {
  background: #d4d4d4;
}
.bk-fff {
  background: #fff;
}
.bk-f7 {
  background: #f7f7f7;
}
.bk-eee {
  background: #eee;
}
/**边框***/
.brts {
  border-top: 1px solid #e0e0e0;
}
.brls {
  border-left: 1px solid #e0e0e0;
}
.brrs {
  border-right: 1px solid #e0e0e0;
}
.brbs {
  border-bottom: 1px solid #e0e0e0;
}
.brsa {
  border: 1px solid #e0e0e0;
}
/*框架大小*/
.box300 {
  width: 300px;
}
.border-top {
  border-top: 1px solid #ddd;
}
.border-bottom {
  border-bottom: 1px solid #ddd;
}
.bgc-fff {
  background-color: #fff;
}
body {
  background: #fff;
}
body a:hover {
  color: #333;
}
.line-through {
  text-decoration: line-through;
}
.padding-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.index-header {
  height: 140px;
  background: url("../images/header-bg.png") repeat-x 0 0;
  position: relative;
  padding: 0 24px;
}
.index-header .logo {
  height: 140px;
  display: inline-block;
  line-height: 140px;
  vertical-align: middle;
}
.index-header .area {
  position: absolute;
  bottom: 10px;
  left: 168px;
  color: #fff;
}
.index-header .info {
  float: right;
  padding-top: 10px;
}
.index-header .shopcart {
  position: absolute;
  right: 24px;
  bottom: 10px;
  color: #2b9df2;
}
.index-header .shopcart i {
  font-size: 18px;
}
.index {
  background-color: #f2f2f2;
  padding-bottom: 100px;
  /*覆盖bootstrap 样式*/
}
.index img {
  width: 100%;
}
.index.bgc-fff {
  background-color: #fff !important;
}
.index .modal {
  top: 25%;
}
.index .modal-dialog {
  position: relative;
  width: auto;
  margin: 24px;
}
.index .modal-dialog .modal-content {
  font-size: 30px;
  text-align: center;
  color: #7b7b7b;
  line-height: 1.5;
}
.index .modal-dialog .modal-content .modal-header {
  font-size: 34px;
  color: #202020;
}
.index .modal-dialog .modal-content .modal-footer {
  text-align: center;
  font-size: 34px;
  padding: 0 15px;
}
.index .modal-dialog .modal-content .modal-footer .btn {
  font-size: 34px;
  background-color: transparent;
  border: none;
}
.index .modal-dialog .modal-content .modal-footer .btn.btn-primary {
  color: #0579fc;
}
.index .search-box {
  margin-top: 10px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index .search-box .text {
  flex: 1;
  border: 1px solid #a5a4a4;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  padding-left: 30px;
  border-radius: 5px;
}
.index .search-box .button {
  position: absolute;
  right: 0;
  top: 3px;
  height: 55px;
  line-height: 55px;
  border-left: 1px solid #625f5e;
  padding: 0 20px;
  color: #a5a4a4;
  font-size: 32px;
  text-align: center;
  display: inline-block;
}
.index .notice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  color: #d70a30;
  align-items: center;
  padding-top: 10px;
}
.index .notice i {
  font-size: 24px;
}
.index .notice span {
  padding-right: 10px;
}
.index .notice a {
  color: #d70a30;
  text-decoration: underline;
}
.index .classify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.index .classify li {
  flex: none;
  width: 20%;
  padding: 10px;
  text-align: center;
}
.index .classify li .text {
  padding-top: 10px;
  font-size: 20px;
}
.index .box {
  width: 48.5%;
}
.index .box .title {
  border-top: 3px solid #d70a30;
  color: #d70a30;
  padding-top: 10px;
  padding-bottom: 10px;
}
.index .box .title h3 {
  font-size: 24px;
}
.index .box .title h3 small {
  color: #202020;
  font-size: 14px;
}
.index .box .item {
  position: relative;
}
.index .box .item .t {
  position: relative;
}
.index .box .item .t .text {
  padding-top: 10px;
  padding-bottom: 12px;
}
.index .box .item .t .text span {
  position: absolute;
  right: 0;
}
.index .box .item .t .sub-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.index .box .item .t .sub-title a {
  flex: 1;
}
.index .box .item .t .sub-title span {
  flex: 1;
}
.index .box .item .icon-hot {
  position: absolute;
  top: -23px;
  right: -18px;
  background: url("../images/icon-hot.png") no-repeat 0 0;
  display: inline-block;
  width: 50px;
  height: 48px;
}
.index .hot-product .title {
  border-left: 24px solid #d70a30;
  color: #d70a30;
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.index .hot-product .title h3 {
  padding-left: 20px;
  font-size: 24px;
}
.index .hot-product .title h3 small {
  color: #202020;
  font-size: 14px;
}
.index .hot-product .title .more {
  position: absolute;
  top: 20px;
  right: 24px;
  background: url("../images/icon-more.png") no-repeat right top;
  width: 45px;
  display: inline-block;
}
.index .hot-product .item {
  margin-top: 30px;
}
.index .show-product .title {
  background-color: #d70a30;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #202020;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.index .web-footer {
  position: relative;
  background-color: #000000;
  padding: 20px 24px 20px 134px;
  color: #fff;
}
.index .web-footer img {
  position: absolute;
  top: 35px;
  left: 24px;
  border: 3px solid #ffffff;
  width: auto;
}
.index .web-footer .about {
  position: absolute;
  right: 24px;
  top: 20px;
}
.header-bar {
  position: relative;
  height: 88px;
  background-color: #000000;
  line-height: 88px;
  padding: 0 24px;
  text-align: center;
  font-size: 40px;
  color: #fff;
}
.header-bar .icon-arrow-left {
  background: url("../images/icon-arrow-left.png") no-repeat left center;
  padding-left: 30px;
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 24px;
}
.header-bar .text {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 120px;
}
.header-bar .right-button {
  position: absolute;
  right: 24px;
  top: 0;
  font-size: 30px;
  color: #d6d7dc;
}
.header-bar .right-button:hover {
  color: #ffffff;
}
.sub-header {
  position: relative;
  height: 72px;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 72px;
  padding: 0 24px;
  text-align: center;
  font-size: 34px;
  color: #646464;
}
.sub-header .icon-arrow-left {
  background: url("../images/icon-arrow-left-gray.png") no-repeat left center;
  padding-left: 30px;
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 24px;
}
/*
* help.html
* 帮助中心
*/
.help-center {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.help-center .title {
  font-size: 34px;
  border-bottom: 1px solid #ddd;
  height: 88px;
  line-height: 88px;
  color: #000000;
  padding-left: 30px;
}
.help-center .help-ul li {
  border-bottom: 1px solid #ddd;
}
.help-center .help-ul li a {
  background: url("../images/icon-question.png") no-repeat 20px center;
  padding-left: 80px;
  font-size: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
.help-center .help-ul li:nth-last-child(1) {
  border-bottom: none;
}
/*
* recharge.html
* 充值
*/
.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.item .text {
  flex: none;
  padding-right: 20px;
}
.item .flex {
  flex: 1;
}
.item.item-border-top {
  border-top: 1px solid #ddd;
}
.item.item-border-bottom {
  border-bottom: 1px solid #ddd;
}
.item.item-border-bottom:last-child {
  border: none;
}
.item.item-bg {
  background-color: #fff;
}
.item.item-font-small {
  position: relative;
  font-size: 28px;
  padding-left: 0;
  padding-right: 0;
}
.item.item-font-small .icon-check {
  position: absolute;
  top: 20px;
  right: 0;
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url("../images/icon-no-check.png") no-repeat left top;
}
.item.item-font-small.active .icon-check {
  background: url("../images/icon-check.png") no-repeat left top;
}
/*
* recharge-success.html
* 充值成功
*/
.success {
  background: url("../images/icon-success.png") no-repeat 100px 50px;
  padding-left: 220px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 40px;
  color: #d70a30;
  line-height: 52px;
}
.btn-danger {
  background-color: #d70a30;
}
.pin-top {
  width: 80px;
  position: fixed;
  right: 0;
  bottom: 110px;
}
.pin-top a {
  color: #d70a30;
  font-size: 18px;
  display: block;
  line-height: 24px;
}
.icon-serve {
  width: 80px;
  position: fixed;
  left: 0;
  bottom: 110px;
  width: 60px;
  height: 60px;
  background: url("../images/icon-serve.png") no-repeat 0 0;
  display: inline-block;
  text-indent: -100px;
  overflow: hidden;
}
.icon-top {
  background: url('../images/icon-top.png') no-repeat center 0;
  width: 80px;
  height: 60px;
  display: inline-block;
}
.nav-footer {
  background-color: #979595;
  border-top: 2px solid #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 98px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-footer .web-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.nav-footer .web-nav li {
  flex: 1;
  width: 25%;
}
.nav-footer .web-nav li a {
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.nav-footer .web-nav li a i {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.nav-footer .web-nav li a .icon-home {
  background: url("../images/icon-home.png") no-repeat center top;
}
.nav-footer .web-nav li a .icon-cv {
  background: url("../images/icon-cv.png") no-repeat center top;
}
.nav-footer .web-nav li a .icon-cart {
  background: url("../images/icon-cart.png") no-repeat center top;
}
.nav-footer .web-nav li a .icon-user {
  background: url("../images/icon-user.png") no-repeat center top;
}
.nav-footer .web-nav li a:focus,
.nav-footer .web-nav li a:active,
.nav-footer .web-nav li a.active {
  color: #f2f2f2;
}
.nav-footer .web-nav li a:focus .icon-home,
.nav-footer .web-nav li a:active .icon-home,
.nav-footer .web-nav li a.active .icon-home {
  background: url("../images/icon-home2.png") no-repeat center top;
}
.nav-footer .web-nav li a:focus .icon-cv,
.nav-footer .web-nav li a:active .icon-cv,
.nav-footer .web-nav li a.active .icon-cv {
  background: url("../images/icon-cv2.png") no-repeat center top;
}
.nav-footer .web-nav li a:focus .icon-cart,
.nav-footer .web-nav li a:active .icon-cart,
.nav-footer .web-nav li a.active .icon-cart {
  background: url("../images/icon-cart2.png") no-repeat center top;
}
.nav-footer .web-nav li a:focus .icon-user,
.nav-footer .web-nav li a:active .icon-user,
.nav-footer .web-nav li a.active .icon-user {
  background: url("../images/icon-user2.png") no-repeat center top;
}
/*
* my-order.html
* 我的订单
*/
.top-tab {
  display: flex;
  margin: 0 -24px;
}
.top-tab li {
  display: inline-block;
  height: 71px;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.top-tab li a {
  border-right: 1px solid #ddd;
  display: block;
}
.top-tab li:active,
.top-tab li.active {
  border-bottom: 4px solid #d70a30;
}
.list-item {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.list-item .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.list-item .title .number {
  font-size: 26px;
  color: #202020;
  flex: 1;
}
.list-item .title .price {
  flex: 1;
  align-self: flex-end;
  text-align: right;
  font-size: 20px;
}
.list-item .information {
  padding: 20px 90px;
  position: relative;
  min-height: 80px;
  border-bottom: 1px solid #ddd;
}
.list-item .information img {
  width: auto;
  position: absolute;
  top: 20px;
  left: 24px;
}
.list-item .information .text {
  font-size: 24px;
  color: #202020;
  min-height: 60px;
}
.list-item .information .price {
  position: absolute;
  top: 20px;
  right: 24px;
  font-size: 20px;
}
.list-item .information .number {
  position: absolute;
  top: 50px;
  right: 24px;
  font-size: 20px;
  color: #999;
}
.list-item .total {
  border-bottom: 1px solid #ddd;
  text-align: right;
  font-size: 24px;
  color: #202020;
  padding: 20px 24px;
}
.list-item .btns {
  text-align: right;
  padding: 20px 24px;
}
.button {
  border: 1px solid #ddd;
  font-size: 24px;
  display: inline-block;
  text-align: center;
  padding: 15px 24px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.button.button-red {
  border: 1px solid #d70a30;
  background-color: transparent;
  color: #d70a30;
}
.button.button-block {
  display: block;
}
