.agent-item{
  .display-flex;
  justify-content: flex-start;
  align-self: center;
  padding: 2*@gutter 2.4*@gutter;
  position: relative;
  .border-bottom;
  .font-size(30px);
  .labels{
    width: 180px;
    color: #202020;
  }
  .flex{
    flex: 1;
    position: relative;
    .display-flex;
    input[type=text],input[type=password],textarea{
      flex: 1;
      border: none;
    }
    .icon-clear{
      .bg-img('icon-clear.png');
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0;
    }
    .sub-flex{
      .display-flex;
      flex: 1;
      input[type=radio]{
        margin-right: 10px;
      }
      
    }
    &.flex-center{
      justify-content: center;
      text-align: center;
      .sub-flex{
        justify-content: center;
      }
    }

  }
  &:last-child{
    border:none;
  }
  &.validate{
    .input[type=text],input[type=password]{
      color: @color-red;
    }
    .info{
      position: absolute;
      top: 20px;
      right: 0;
      width: 200px;
      color: @color-red;
      .fontsize(1.8);
      display: inline-block;
    }
  }
}
.padding-24{
  .agent-item {
    padding: 2*@gutter 0;
  }
}

/*
* login.html
* 登录
*/
.quick-login{
  .padding-top(5*@gutter);
  .icon-qq{
    display: inline-block;
    width:68px;
    height: 68px;
    .bg-img('icon-qq.png');
  }
  .icon-webchat{
    display: inline-block;
    width:68px;
    height: 68px;
    .bg-img('icon-webchat.png');
  }
  .icon-webo{
    display: inline-block;
    width:68px;
    height: 68px;
    .bg-img('icon-webo.png');
  }
}
